*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 4%;
}

header{
    height: auto;
    padding: 48px;
    width: 100%;
}

.logo{
    padding-top: 0%;
    text-align: -webkit-center;
}
.logo2{
    padding-top: 0%;
    text-align: -webkit-center;
}

.container{
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.formulario{
    width: 100%;
    justify-content: space-around;
    display: flex;
}

.formu{
    display: inline-block;
    margin-left: -18%;
    border-top-left-radius: 15px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.15);
}

#Div1{
    margin-top: 12%;
    margin-left: 4%;
}
.formul{
    margin-left: 4%;
}
.btn-enviar{
    background-color:#e80879;
    border-radius: 22px;
    margin-left: 170%;
    color: white;
    width: 150%;
    padding: 10px 0;
}

.logo img{
    display: block;
    height: auto;
    object-fit: cover;
    width: auto;
}

.logo2 img{
    display: block;
    height: auto;
    object-fit: cover;
    width: 70%;
    margin-left: 0%;
    padding: 60px 0;
}

.texto{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.texto h3{
    display: inline-block;
    font-weight: 300;
    margin-top: 10px;
    padding: 10px 0;
}

.texto p{
    display: inline-block;
    font-weight: 300;
    padding: 5px 0;
    margin-left: auto;
    opacity: 60%;
    width: 70%;
    font-size: 100%;
}
@media screen and (min-width:768px) and (max-width:900px){

    .logo2{
        margin-left: 0%;
    }
    .formu{
        margin-left: -18%;
    }
    .btn{
        width: 240%;
    }
}

@media screen and (min-width: 51px) and (max-width: 767px){

    .btn{
        margin-left: 25%;
        width: 50%;
    }

    .logo2 img{
        margin-left: 0% !important;
        padding: 0%;
    }

    .formulario{
        display: inherit !important;
    }

    .formu{
        margin-left: 0%;
    }
}
